.content{
    border: 1px solid;
    border-radius: 2rem;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 198, 250);
}
body{
    background-image: url(f1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: rgb(245, 199, 199);
    border-radius: 1rem;
}
input:hover{
    background-color:rgb(209, 209, 209);
    cursor:pointer;
}
option{
    background-color:rgb(255, 234, 206);
    cursor:pointer;
}
select{
    cursor:pointer;
}
h2{
text-align: center;
}
form{
    margin: 2rem;
}
.row{
    width: fit-content;
}
#comment{
    height: 4rem;
    width: 21.9rem;
}
#submit{
    font-weight: bold;
    width: fit-content;
    height: 2rem;
    background-color: rgb(33, 88, 33);
}
#submit:hover{
    scale: 0.9;
    background-color: green;
}
.submit{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
